@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#ethfeed .panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  background-color: #333; 
  background-image: none; 
}

#ethfeed .panel-title>a {
  display: block;
  padding: 8px 15px;
}

#ethfeed .panel {
  border: none;
  background-color: rgba(51,51,51,0.25);
  -webkit-box-shadow: none;
  box-shadow: none;
}

